{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    {% for listing in listings %}
        <a href = "{% url 'listings' listing.id %}">
            <div class = "row display-item">
                <div class = "col-3" style = "height: 330px;">
                    <img src = "{{ listing.image_url }}" style = "width: 260px; height: 330px" alt = "img">
                </div>
                <div class = "col-9">
                    <p class = "title"><b>{{ listing.title }}</b></p>
                    <p class = "desc"><b>{{ listing.description }}</b></p>
                    <p class = "price"><b>&#8377;{{ listing.starting_bid }}</b></p>
                    <p class = "date"><b>{{ listing.date }}</b></p>
                </div>
            </div>
        </a>
        <a class = "add btn btn-primary" href = "{% url 'add' listing.id %}">Add to WatchList</a>
    {% empty %}
        No listings available.
    {% endfor %}
{% endblock %}