{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Categories
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'search' 'FA' %}">Fashion</a>
                        <a class="dropdown-item" href="{% url 'search' 'EL' %}">Electronics</a>
                        <a class="dropdown-item" href="{% url 'search' 'HO' %}">Home</a>
                        <a class="dropdown-item" href="{% url 'search' 'MU' %}">Music</a>
                        <a class="dropdown-item" href="{% url 'search' 'BO' %}">Books</a>
                    </div>
                </div>
            </li>
            {% if user.is_authenticated %}
                <li class = "nav-item">
                    <a class = "nav-link" href = "{% url 'show_watchList' %}">WatchList</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "{% url 'createListing' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
